<?xml version="1.0" encoding="UTF-8"?>

<suite name="Traction DIGITAL  Test Suite">

	<listeners> 
		<listener class-name="FrameWorks.ScreenshotUtility"></listener> 
		<listener class-name="FrameWorks.ExtentReporterNG"></listener>  
 	</listeners>

	<suite-files>
<!-- If you have more test suites, Please add them bellow. -->

  	<suite-file path="./SuiteModule1.xml" /> 
 	 
 	
 		</suite-files>
  
 </suite>